.button {
  background: #e2e2e2;
  border-radius: 0.208vw;
  padding: 1.319vw 1.944vw;
  font-family: "Normalidad";
  font-size: 1.042vw;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #151515;
  border: none;
}

@media screen and (max-width: 640px) {
  .button {
    width: 87.2vw;
    font-size: 4vw;
    padding: 5.067vw 11.467vw;
  }
}