.container {
  background-image: url("../../assets/stat-bg.png");
  box-shadow: 0vw 4.861vw 4.861vw #000000;
  background-color: #151515;
  background-size: 100vw;
}

.inner {
  margin-left: 12.431vw;
  border-left: 1px solid #5b5b5b;
  padding: 5.556vw 0vw 5.556vw 3.958vw;
}

.top {
  display: grid;
  grid-template-columns: 12.597vw 12.847vw 11.806vw 14.583vw;
  column-gap: 3.819vw;
}

.text {
  font-size: 0.972vw;
  line-height: 120%;
  color: #ffffff;
}

.number {
  font-weight: 900;
  font-size: 3.889vw;
  line-height: 120%;
  text-transform: uppercase;
  color: #ffffff;
  font-family: "Normalidad";
}

.bottom {
  display: grid;
  grid-template-columns: max-content 15.972vw 15.972vw;
  margin-top: 3.889vw;
  column-gap: 1.389vw;
}



.iconButtons {
  display: flex;
  gap: 1.667vw;
}
.button {
  background: #e2e2e2;
  border-radius: 0.208vw;
  padding: 1.319vw 1.944vw;
  font-family: "Normalidad";
  font-size: 1.042vw;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #151515;
  border: none;
  text-decoration: none;
  margin-left: 0 !important;
}
@media screen and (max-width: 640px) {
  .container {
    background-image: url("../../assets/statBackMob.png");
    background-size: cover;
  }
    .button {
    width: 87.2vw;
    font-size: 4vw;
    padding: 5.067vw 11.467vw;
  }
  .inner {
    margin-left: 0;
    padding: 11.2vw 12.533vw;
  }

  .top {
    display: flex;
    grid-template-columns: none;
    flex-direction: column;
    gap: 16vw;
    max-width: 56vw;
  }
  .number {
    font-size: 14.933vw;
    line-height: 120%;
  }
  .text {
    font-size: 3.733vw;
    line-height: 120%;
  }
  .bottom {
    display: grid;
    grid-template-columns: none;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    row-gap: 4.8vw;
    margin-top: 13.333vw;
  }
  .iconButtons {
    margin-top: 8.267vw;
    height: 28.8vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: unset;
  }
}
