.container {
  background: #151515;
}

.inner {
  margin-left: 12.431vw;
  border-left: 1px solid #5b5b5b;
  padding: 8.056vw 4.097vw 6.944vw 3.889vw;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-weight: 900;
  font-size: 2.222vw;
  line-height: 126%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #ffffff;
  font-family: "Normalidad";
}

.text {
  line-height: 140%;
  color: #e2e2e2;
  margin-top: 1.528vw;
  font-size: 1.25vw;
}

.info {
  margin-top: 4.167vw;
  display: flex;
}

.list {
  margin-left: 1.389vw;
  display: grid;
  grid-template-columns: repeat(6, 7.778vw);
  grid-template-rows: repeat(auto-fill, 7.778vw);
  gap: 1.111vw;
}

.item {
  width: 7.778vw;
  height: 7.778vw;
  background-size: cover;
  border-radius: 0.208vw;
  filter: grayscale(80%);
  cursor: pointer;
}

.item:hover {
  border: 0.208vw solid #ffffff;
}

.itemActive {
  width: 7.778vw;
  height: 7.778vw;
  background-size: cover;
  border-radius: 0.208vw;
  filter: grayscale(0%);
  cursor: pointer;
  border: 0.208vw solid #ffffff;
}

.vyasnaBlock {
  width: 16.667vw;
  background-color: #202020;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.833vw 0.694vw;
  border-radius: 3px;
}

.vyasnaText {
  font-size: 0.625vw;
  line-height: 120%;
  color: #bababa;
  width: 7.639vw;
}

.vyasna {
  margin-left: 0.833vw;
}

.vyasnaMob {
  display: none;
}

@media screen and (max-width: 640px) {
  .inner {
    margin-left: 0;
  }
  .title {
    font-size: 5.867vw;
    line-height: 126%;
  }
  .text {
    font-size: 4.8vw;
    line-height: 140%;
  }
  .vyasnaBlock {
    display: none;
  }
  .vyasnaMob {
    display: block;
    margin-top: 7.2vw;
  }
  .prisoner {
    display: none;
  }
  .list {
    grid-template-columns: repeat(3, 26.667vw);
    grid-template-rows: repeat(auto-fill, 26.667vw);
    gap: 4vw;
  }
  .item {
    width: 26.667vw;
    height: 26.667vw;
  }
  .prisonerMob {
    background-color: #353535;
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    z-index: 2000;
    padding: 5.333vw;
    display: flex;
    flex-direction: column;
    overflow: auto;
  }
  .cross {
    position: absolute;
    right: 14.667vw;
  }

  .photo {
    width: 74.667vw;
    height: 74.667vw;
    margin-top: 21.333vw;
  }
  .sentence {
    background-color: #d8d8d8;
    border-radius: 0.521px;
    font-size: 3.2vw;
    line-height: 120%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #151515;
    padding: 1.6vw 2.133vw;
    border: none;
    margin-top: 8.267vw;
    font-family: "Normalidad";
    max-width: 53.333vw;
  }
  .name {
    margin-top: 3.733vw;
    font-weight: 900;
    font-size: 5.333vw;
    line-height: 120%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #ffffff;
    font-family: "Normalidad";
    max-width: 80vw;
  }

  .university {
    font-size: 3.733vw;
    line-height: 120%;
    font-family: "Normalidad";
    color: #cacaca;
    margin-top: 2.133vw;
  }
  .text {
    font-size: 4.267vw;
    line-height: 140%;
    color: #ffffff;
    margin-top: 3.733vw;
    max-width: 80vw;
  }
}
