.container {
  background-image: url("../../assets/cooperate-bg.png");
  background-color: #151515;
  background-size: cover;
}

.inner {
  margin-left: 12.431vw;
  border-left: 1px solid #5b5b5b;
  padding: 3.472vw 0vw 3.472vw 3.819vw;
}

.articles {
  display: flex;
  gap: 1.667vw;
}

.article {
  width: 36.528vw;
  padding-left: 2.014vw;
}

.name {
  font-size: 1.25vw;
  line-height: 140%;
  color: #ffffff;
  margin-top: 1.528vw;
}

.imageContainer {
  width: 36.528vw;
  height: 20.556vw;
  background-size: cover;
  box-shadow: 10px 10px 60px rgba(0, 0, 0, 0.64);
  border-radius: 4px;
}

@media screen and (max-width: 640px) {
  .imageContainer {
    width: 78.667vw;
    height: 44.533vw;
    display: none;
  }
  .inner {
    margin-left: 0vw;
    display: none;
  }
  .article {
    width: 78.933vw;
  }
  .omon {
    width: 78.933vw;
  }
  .name {
    font-size: 3.733vw;
    line-height: 140%;
    padding-left: 0;
    padding-right: 0;
  }
}
