.container {
  background-image: url("../../assets/todo-bg.png");
  background-color: #151515;
  margin-top: -0.347vw;
  background-size: contain;
    background-size: 100vw;

}

.inner {
  margin-left: 12.431vw;
  border-left: 1px solid #5b5b5b;
  padding: 8.681vw 9.514vw 2.847vw 37.431vw;
}

.title {
  font-family: "Normalidad";
  font-weight: 900;
  font-size: 2.222vw;
  line-height: 126%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #ffffff;
}

.text {
  font-size: 1.25vw;
  line-height: 140%;
  color: #ffffff;
  margin-top: 1.528vw;
  margin-bottom: 4.167vw;
}

.link {
  color: #d00a00;
  text-decoration: underline;
  text-transform: uppercase;
  font-size: 1.389vw;
}
.button {
  background: #e2e2e2;
  border-radius: 0.208vw;
  padding: 1.319vw 1.944vw;
  font-family: "Normalidad";
  font-size: 1.042vw;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #151515;
  border: none;
  text-decoration: none;
}

@media screen and (max-width: 640px) {
  .container {
    background-image: url("../../assets//todoMob.png");
    background-size: cover;
  }
    .button {
    width: 87.2vw;
    font-size: 4vw;
    padding: 5.067vw 11.467vw;
   margin-bottom: 50px;
  }
  .inner {
    margin-left: 0;
    padding: 16vw 4.8vw;
        border-left: none;

  }
  .title {
    font-size: 5.867vw;
    line-height: 126%;
  }
  .text {
    font-size: 4.8vw;
    line-height: 140%;
    margin-bottom: 11.467vw;
  }
  .link {
      font-size: 4.8vw;
    line-height: 140%;
    margin-left: 1.333vw;
  }
}
